:root {
  --main-color: #121212;
  --main-light-color: #ffffff;
  --bg-color: #333333;
  --pokemon-yellow: #faca15;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--main-color);
  background-color: var(--bg-color);
}

.navbar {
  background-color: var(--pokemon-yellow);
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .brand-logo {
  margin-left: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin: 0 20px;
}

.nav-item a {
  padding: 5px 0;
  color: var(--main-color);
  font-size: 1.5rem;
  text-decoration: none;
  transition: border-bottom 0.4s ease;
}

.nav-item a:hover {
  border-bottom: 8px solid var(--main-light-color);
}

h1,
.h2 {
  padding-top: 1rem;
  color: var(--pokemon-yellow);
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

section {
  display: flex;
  flex-direction: column;
}

.pokemon-container,
.pokemon-container2,
.pokemon-single-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 0.5rem;
  text-align: center;
  border: 1px solid var(--main-color);
  background-color: var(--main-light-color);
  /* border-radius: 20px; */
}

.types-container {
  margin: 2rem auto;
}

.pokemon-type {
  padding: 0.5rem;
  margin-right: 5px;
}

.yellow-border {
  margin: 40px auto;
  height: 5px;
  background-color: var(--pokemon-yellow);
}
